RewriteEngine ON

RewriteRule ^home$ public/index.php?page=home
RewriteRule ^chapters$ public/index.php?page=chapters
RewriteRule ^chapter/([0-9]+)$ public/index.php?page=chapter?id=$1
RewriteRule ^login$ public/index.php?page=login
RewriteRule ^logout$ public/index.php?page=logout
RewriteRule ^dashboard$ public/index.php?page=admin
RewriteRule ^write$ public/index.php?page=write
RewriteRule ^update$ public/index.php?page=adminEdit
RewriteRule ^adminChapters$ public/index.php?page=adminChapters