/* Générale */
html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

/* nav bar */
.pos-f-t {
    background: #212529;
    width: 100%;
    z-index: 1;
    margin-bottom: 2em;
}

.navbar a {
    color: #000;
}

/* Drop menu */
.dropdown-menu li {
    text-align: center;
}

.dropdown-menu a {
    color: #212529;
}

.pos-f-t li {
    list-style: none;
    text-align: center;
}

.pos-f-t a {
    color: rgb(248, 248, 248);
    font-size: 1.2em;
}

.blog-me {
    overflow: auto;
}

.navbar-toggler {
    margin: auto;
    width: 80px;
}

.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: #fff;
}

.navbar-toggler p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5em 0;
}


/* Form page */
.formT {
    width: 200px;
    overflow-x: hidden;
}

input[type="file"]::-webkit-file-upload-button {
    display: block !important;
}

.postF input,
.postF textarea {
    margin: 10px 20px;
    vertical-align: middle;
}

.postF .form-check-label {
    margin-left: 2.4em;
}

.img-form {
    margin-left: 50px !important;
}

/* post-dashboard */
.img {
    height: 200px;
    width: 200px;
}

#title {
    width: 90%;
}

#content {
    height: 500px;
    width: 240px;
}

@media all and (min-width: 768px) {

    /* Navigation côté */
    .side-nav {
        background: #212529;
        width: 190px;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    /* nav bar */
    .navbar-toggler {
        margin: inherit;
    }


    /* page dashboard */
    .listeCom {
        display: inline-block;
        margin: 5px;
    }


    /* Form page */
    .formT {
        width: 100%;
    }

    /* Liste chapitre */

    #styleBloc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        text-align: justify;
    }

    .timg {
        width: 300px;
        height: 300px;
    }

    /* post */
    #content {
        height: 500px;
        width: 440px;
    }

}


@media all and (min-width: 1024px) {

    /* post */
    #content {
        height: 500px;
        width: 680px;
    }

}